.button {
  margin: 0px;
  padding: 6px 16px;
  min-width: 120px;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  border-radius: 4px;
  color: #fff;
}

.primary {
  background-color: hsl(210, 100%, 42%);
}
.success {
  background-color: rgb(46, 125, 50);
}
.warning {
  background-color: rgb(237, 108, 2);
}
.error {
  background-color: rgb(211, 47, 47);
}
