.container {
  font-size: 14px;
  position: fixed;
  z-index: 10;

  &.top-left {
    top: 1rem;
    left: 1rem;
    animation: toast-in-right 0.7s;
  }
  &.top-right {
    top: 1rem;
    right: 1rem;
    animation: toast-in-right 0.7s;
  }
  &.top-center {
    top: 1rem;
    left: 40%;
    animation: toast-in-center 0.7s;
  }
  &.bottom-center {
    bottom: 1rem;
    left: 40%;
    animation: toast-in-center 0.7s;
  }
  &.bottom-right {
    bottom: 1rem;
    right: 1rem;
    animation: toast-in-right 0.7s;
  }
  &.bottom-left {
    bottom: 1rem;
    left: 1rem;
    animation: toast-in-right 0.7s;
  }

  .toastInner {
    min-height: 50px;
    width: 250px;
    padding: 10px 15px 10px 10px;
    margin-bottom: 1rem;
    border-radius: 4px;
    box-shadow: 0 0 10px #999;
    opacity: 0.9;
    transition: 0.3s ease;
    color: #fff;
    position: relative;

    button {
      padding: 1rem;
      float: right;
      background: none;
      border: none;
      color: #fff;
      opacity: 0.8;
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
    }

    &.top-right,
    &.bottom-right {
      animation: toast-in-right 0.7s;
    }
    &.top-left,
    &.bottom-left {
      animation: toast-in-left 0.7s;
    }
    &.top-center,
    &.bottom-center {
      animation: toast-in-center 0.7s;
    }

    &:hover {
      box-shadow: 0 0 12px #fff;
      opacity: 1;
    }

    .title {
      font-weight: 700;
      font-size: 16px;
      text-align: left;
      margin-top: 0;
      margin-bottom: 6px;
      height: 18px;
    }

    .description {
      margin: 0;
      text-align: left;
    }
  }
}

@keyframes toast-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes toast-in-center {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes toast-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
